.NGcontainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .NGlogo {
    text-align: center;
    padding: 20px;
  }
  
  .NGlogo img {
    width: 100px;
    height: auto;
  }
  
  .NGlogo h3 {
    color: #333;
    font-size: 24px;
  }
  
  .NGquestions {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .NGquestions h3 {
    color: #333;
    font-size: 20px;
  }
  
  .NGoptions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .NGbtn-pption {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .NGbtn-option:hover {
    background-color: #666;
  }
  
  .NGresults {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .NGresults h1 {
    color: #333;
    font-size: 24px;
  }
  
  .NGresults p {
    color: #666;
    font-size: 18px;
  }
  