<div class="NGcontainer">

    <div class="NGlogo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <br>
        <h1>{{title}}</h1>
    </div>
@if (!finished) {
    <div class="NGquestions">
        <h3>{{questionIndex+1}}/{{questionMaxIndex}} - {{questionsSelected.question}}</h3>
    </div>

        

       

        <div class="NGoptions">
            @for ( option of questionsSelected.options; track $index) {
                <button   (click)="playerChoose(option.alias)" class="NGbtn-option">
                    {{option.name}}
                </button>
            }
          
        </div>


    } @else {
        <div  class="NGresults">
   
            <h2>{{answerSelected}}</h2>
     
       
    </div>
    }

    

</div>